*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#000;
    color:white;
}

/* HEADER */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    background:#111;
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#ff9800;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:0.3s;
}

.navbar a:hover{
    color:#ff9800;
}

.hero{
    padding:150px 20px 80px;
    text-align:center;
}

.hero button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    background:#ff9800;
    cursor:pointer;
    border-radius:5px;
}

.menu{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:50px 20px;
    flex-wrap:wrap;
}

.card{
    background:#111;
    border-radius:15px;
    overflow:hidden;
    width:250px;
    transition:0.4s;
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card:hover{
    transform:scale(1.05);
}

/* CONTACT */
.contact{
    text-align:center;
    padding:50px 20px;
}

/* FOOTER */
.footer{
    background:#111;
    padding:40px 20px 10px;
}

.footer-container{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin-bottom:20px;
}

.footer-box{
    width:250px;
}

.footer-box h3{
    margin-bottom:15px;
    color:#ff9800;
}

.footer-box a{
    display:block;
    color:white;
    text-decoration:none;
    margin-bottom:8px;
}

.footer-bottom{
    text-align:center;
    border-top:1px solid #333;
    padding-top:10px;
}

/* FADE ANIMATION */
.fade-in{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

.fade-in.show{
    opacity:1;
    transform:translateY(0);
}
