
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#111;
    color:white;
}

/* Glass Navbar */
header{
    position:fixed;
    width:100%;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    padding:15px 50px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav ul li a:hover{
    color:#ff4d4d;
}

/* Hero */
.hero{
    height:100vh;
    background:url("https://images.unsplash.com/photo-1504674900247-0877df9cc836") center/cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero button{
    padding:12px 25px;
    background:#ff4d4d;
    border:none;
    color:white;
    cursor:pointer;
    margin-top:20px;
    transition:0.3s;
}

.hero button:hover{
    transform:scale(1.1);
}

/* Menu */
.menu-container{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:100px 20px;
}

.card{
    width:250px;
    background:#222;
    border-radius:15px;
    overflow:hidden;
    transition:0.4s;
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 20px rgba(255,77,77,0.4);
}

/* FOOTER */
.footer{
    background: #111;
    color: white;
    padding: 40px 20px 10px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-box{
    width: 250px;
}

.footer-box h3{
    margin-bottom: 15px;
    color: #ff9800;
}

.footer-box a{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
    transition: 0.3s;
}

.footer-box a:hover{
    color: #ff9800;
}

.footer-bottom{
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 10px;
    font-size: 14px;
}
